* {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}
body {
	background: linear-gradient(rgba(0,0,0, 0.1),rgba(100,100,100, 0.2)),url('../img/dark_wood.png');
	background-attachment: fixed;
}
header {
	height: 90vh;
	background: linear-gradient(rgba(255,255,255, 0.9),rgba(0,0,0, 0.1)),url('../img/treca.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

header .ml-hero {
	margin-top: 9%;
	font-size: 1.5em;
	color: #000;
}

header div.ml-hero div p{
	font-weight: bolder;
}

header div.ml-hero blockquote {
	color: #000;
	font-size: 1em;
	text-shadow: 1px 1px 3px #333;
}
#ml-middle-logo {
	position: absolute;
	right: 30px;
	top: -20%;
	width: 250px;
}
.ml-about {
	position: relative;
	
}

.ml-about {
	background: linear-gradient(to bottom, rgba(0,0,0, 1),rgba(0,0,0, 0.1)),url('../img/barrel-52934_1280.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 -1px 4px #333;
}
.ml-about article p,
.ml-about article h2,
.ml-section-2 article p,
.ml-section-2 article h2,
.ml-section-3 article p,
.ml-section-3 article h2{
	color: #eee;
}
.ml-section-2 article h2,
.ml-about article h2 {
	font-family: 'Tangerine', cursive;
	font-size: 3em;
}
.ml-about article img {
	margin-top: 15px;
}
.ml-section-2 article img,
.ml-about article img {
	box-shadow: 0 0 3px #333;
}
.ml-section-2 {
	background: linear-gradient(to bottom, rgba(255,255,255, 0.3),rgba(255,255,255, 0.2)), url('../img/cellar.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.ml-section-2 article:last-child {
	background: linear-gradient(to bottom, rgba(0,0,0, 0.7),rgba(0,0,0, 0.7))
}
.ml-section-3 {
	background: linear-gradient(to bottom, rgba(26,91,36, 0.5),rgba(26,91,36, 0.4)), url('../img/vinrad4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.ml-section-3 article span {
	margin-right: 8px;
}
footer {
	background: #111;
}
footer p {
	margin-bottom: 0;
	padding: 10px;
}
#map {
	width: 100%;
	height: 380px;
}

@media screen and (max-width: 640px) {
	#ml-middle-logo {
		display: none;
	}
	.ml-about article img {
		margin-top: 0;
	}
	
}